/* AddPaciente.css */
.card {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-field {
    margin-bottom: 1rem;
    padding: 2;
}

.p-mt-2 {
    margin-top: 1rem;
}
